* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

#nav-recommendations button {
    font-size: 30px;
    padding: 0px;
    display: inline;
}

#nav-recommendations button:hover {
    font-weight: bold;
}